.reporte-ventas-container {
    margin: 20px;
    font-family: 'Roboto', sans-serif; 
    overflow-x: hidden;
}

.tabla-reportes {
    font-size: 14px;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif; 
    width: 100%;
    overflow-x: hidden;
}

.tabla-reportes th,
.tabla-reportes td {
    padding: 8px;
    border: 1px solid #060708;
    color: #fff; 
}

.tabla-reportes th {
    background-color: #007bff;
}

.tabla-reportes th:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.tabla-reportes td {
    text-align: center;
}

.tabla-reportes tbody tr {
    transition: background-color 0.3s ease;
}

.tabla-reportes tbody tr:hover {
    background-color: #48b720;
    transform: scale(1.004);
}

body {
    background-image: url('../../public/Fondouniber.PNG'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }
  


h2 {
    color: #fff;
}
